<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.explorador3d_hiro_projeto_final">
    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <!-- Tela de configurações do app -->
        <activity
            android:name=".ConfiguracoesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <!-- Tela de vídeos -->
        <activity
            android:name=".VisualizadorVideosActivity"
            android:exported="false" />
        <!-- Tela de imagens em RA -->
        <activity
            android:name=".ImagensActivity"
            android:exported="false" />
        <!-- Tela de exploração -->
        <activity
            android:name=".ExploracaoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <!-- Tela Sobre -->
        <activity
            android:name=".SobreActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <!-- Tela Inicial -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Tela de Realidade Aumentada de modelos 3d(AR) -->
        <activity
            android:name=".VisualizadorActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
    </application>

</manifest>